.blog-list {
  padding-left: 1.25rem;
  margin-top: 2rem;
  list-style-type: disc;
}

.blog-item {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  list-style-position: outside;
}

.post-date {
  color: #7a7a7a;
  min-width: 90px;
  display: inline-block;
}